@charset "UTF-8";
.technology {
  background-color: #e5dddd;
  width: 100%; }
  .technology__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .technology h3 {
    margin: 0;
    padding: 0;
    font-family: "RobotoBold";
    text-transform: uppercase; }
  .technology__project img {
    border: 2px solid #b00021;
    display: block; }
  .technology__project {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .technology__list {
    padding: 20px;
    margin: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0; }
  .technology__item {
    list-style: none;
    text-transform: uppercase; }
  .technology__item:before {
    content: "✔  ";
    color: #b00021;
    font-size: 20px; }

@media (min-width: 319px) {
  .technology {
    padding: 20px 0px; }
    .technology__wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
    .technology h3 {
      text-align: center; }
    .technology__project img {
      margin: 20px auto 0; }
    .technology__my-technology {
      margin-top: 20px; }
    .technology__item {
      text-align: center; } }

@media (min-width: 768px) {
  .technology__wrapper {
    width: 800px;
    padding: 0px 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto; }
  .technology__project img {
    width: 300px;
    height: 200px;
    margin-top: 20px; }
  .technology h3 {
    text-align: left; }
  .technology__my-technology {
    width: 302px;
    margin-right: 50px; }
  .technology__item {
    text-align: left; } }

@media (min-width: 1200px) {
  .technology__wrapper {
    width: 1100px;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .technology__project img {
    width: 350px;
    height: 230px;
    margin-right: 30px; }
  .technology h3 {
    text-align: center;
    font-size: 30px; }
  .technology__my-technology {
    width: 300px;
    margin-right: 0; } }
