@font-face {
  font-family: "segoe-ex";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff2") format("woff2"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.svg#segoe-ex") format("svg"); }

@font-face {
  font-family: "segoeBold-ex";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff2") format("woff2"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype"), url("../fonts/SegoeUIBold/SegoeUIBold.svg#segoeBold-ex") format("svg"); }

@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: light;
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff2") format("woff2"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#RobotoLight") format("svg"); }

body {
  font-size: 16px;
  font-family: "segoe-ex", sans-serif;
  position: relative;
  opacity: 1;
  line-height: 1.75;
  min-width: 320px; }

/* TODO: BURGER MENU */
/* SPECIAL CLASS */
@-webkit-keyframes Burger__left {
  25% {
    left: 0%; }
  50% {
    left: 25%; }
  75% {
    left: 75%; }
  100% {
    left: 100%; } }
@keyframes Burger__left {
  25% {
    left: 0%; }
  50% {
    left: 25%; }
  75% {
    left: 75%; }
  100% {
    left: 100%; } }

.top-menu__menu-burger {
  width: 100%;
  height: 400px;
  position: relatives; }

.span {
  width: 30px;
  height: 20px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin-top: 1%;
  position: relative;
  margin-bottom: 2%;
  left: 132%;
  z-index: 1; }

.span_center {
  border-top: 2px solid #fff;
  left: 0%;
  position: absolute;
  top: 45%;
  width: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.left {
  -webkit-animation: Burger__left .2s linear;
          animation: Burger__left .2s linear;
  left: 400%;
  opacity: 0; }

.span_first {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.span_second {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.ext {
  border-top: 2px solid #fff;
  position: absolute;
  top: 42%;
  width: 30px; }

.wrapper__items {
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 2% 0px;
  text-transform: uppercase;
  color: #fff;
  border: 1ps solid red; }
  .wrapper__items:hover {
    color: #f17f42; }
  .wrapper__items:active {
    color: #f51856; }

.main_span {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  border: 2px solid transparent; }

.switch {
  border: 2px solid transparent; }

/* TODO: INVIS DISPLAY */
.show {
  display: none !important;
  opacity: 0; }

/* TODO: FIRST SECTION */
header {
  background-color: #262626;
  padding: 10px 0px 0px 0px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.5); }

.top-menu {
  cursor: pointer; }
  .top-menu__menu {
    font-size: 0.8125em; }
    .top-menu__menu ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      list-style: none;
      text-transform: uppercase;
      text-decoration: none;
      font-family: 'segoeBold-ex'; }
      .top-menu__menu ul a {
        color: #fff; }
      .top-menu__menu ul a:hover {
        color: #f17f42;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }

.content {
  width: 100%;
  min-height: 100vh;
  background: url("../img/background.png") center/cover;
  background-attachment: fixed; }
  .content__button {
    width: 180px;
    height: 30px;
    background: #1a1616;
    color: #fff;
    text-transform: uppercase;
    font-family: 'segoeBold-ex';
    border: 1px solid transparent;
    margin: 5% auto;
    text-align: center;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    cursor: pointer; }
    .content__button:hover {
      background-color: #f17f42;
      color: #fff;
      border: 1px solid #f51856;
      -webkit-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear; }
    .content__button:active {
      background-color: #f51856; }
  .content__title {
    font-size: 30px;
    font-family: 'RobotoLight'; }
  .content__items {
    -webkit-box-shadow: 4px 6px 6px 2px rgba(0, 0, 0, 0.17);
            box-shadow: 4px 6px 6px 2px rgba(0, 0, 0, 0.17);
    margin-top: 15%;
    padding: 5% 0%;
    background: rgba(246, 246, 247, 0.55);
    position: relative;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    cursor: pointer; }
    .content__items__img {
      margin-top: 5%; }
    .content__items img {
      width: 80%;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: 1px solid #f17f42;
      height: auto;
      margin: 0px auto; }
    .content__items__title {
      margin-top: 5%;
      font-size: 1.875em;
      text-align: center;
      font-family: 'segoeBold-ex'; }
    .content__items__information {
      margin-top: 5%;
      font-size: 1em;
      font-family: 'segoe-ex';
      text-align: center;
      padding: 0px 20px; }
    .content__items__button {
      width: 180px;
      height: 30px;
      text-align: center;
      margin: 5% auto;
      text-transform: uppercase;
      border: 1px solid #f17f42;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      font-family: 'segoeBold-ex'; }
      .content__items__button:hover {
        background-color: #f17f42;
        color: #fff;
        border: 1px solid #f51856;
        -webkit-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear; }
      .content__items__button:active {
        background-color: #f51856; }

/* TOOD: CONTAINER FOOTER */
footer {
  background-color: #dad9d9; }

.footer {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  font-family: 'segoe-ex';
  cursor: pointer;
  font-size: 0.8125em; }
  .footer__title {
    font-size: 1.125em;
    font-family: 'segoeBold-ex';
    margin: 5% 0px; }
  .footer a {
    color: #000; }
    .footer a:hover {
      color: #f17f42; }
    .footer a:active {
      color: #f51856; }
