@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#RobotoRegular") format("svg"); }

@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff2") format("woff2"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#RobotoLight") format("svg"); }

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#RobotoBold") format("svg"); }

body {
  font-size: 16px;
  font-family: "RobotoRegular", sans-serif;
  position: relative;
  opacity: 1;
  line-height: 1.75;
  min-width: 320px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

header {
  width: 100%;
  min-height: 80vh;
  background: rgba(0, 0, 0, 0.7) url(../img/header.jpg) top center/cover;
  position: relative; }
  header:before {
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.header__top_line {
  width: 100%;
  padding: 1% 0%;
  height: 16%;
  background-color: rgba(255, 255, 255, 0.95);
  position: relative; }
  .header__top_line__burger {
    font-size: 2.1875em;
    line-height: 1;
    text-align: right; }
  .header__top_line__logo {
    height: auto;
    position: absolute;
    padding: 5px 0px; }
  .header__top_line__button_number {
    padding: 8px 10px;
    color: #fff;
    text-align: center;
    background: #e9405a;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin: 0px auto;
    text-transform: uppercase;
    font-family: 'RobotoBold';
    cursor: pointer; }
    .header__top_line__button_number:active {
      background-color: #1cb87f;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
  .header__top_line__number {
    font-size: 25px;
    font-family: 'RobotoBold';
    line-height: 2.1;
    text-align: center; }

nav {
  position: absolute;
  margin: 4% 0%;
  width: 100%; }

nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: 1em;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  nav ul li a {
    color: #000;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    nav ul li a:hover {
      color: #df405a; }
    nav ul li a:active {
      color: #1cb87f; }

.button {
  padding: 10px 20px;
  text-align: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  margin-top: 21%; }
  .button:hover {
    background-color: #df405a; }
  .button:active {
    background-color: #1cb87f; }

.header__content_center {
  color: #fff;
  text-transform: uppercase; }
  .header__content_center__title {
    font-size: 2.5em;
    font-size: 'RobotoRegular';
    text-align: center;
    margin-top: 7%; }
  .header__content_center__image img {
    margin: 1% auto; }
  .header__content_center__ads {
    line-height: 1.5;
    text-align: center;
    font-size: 3.125em;
    font-family: 'RobotoBold';
    padding: 0px 30px; }
  .header__content_center_buttons__about {
    border: 2px solid #df405a;
    padding: 8px 20px; }
  .header__content_center_buttons__want {
    background-color: #df405a; }

.About {
  width: 100%;
  min-height: 100vh;
  background: #000 url(../img/1section.jpg) top center/cover;
  background-attachment: fixed; }
  .About__title {
    font-size: 3.125em;
    font-family: 'RobotoLight';
    text-transform: uppercase;
    text-align: center;
    margin-top: 5%; }
  .About__inform {
    text-align: left;
    font-size: 1.0625em; }

.Menu {
  width: 100%;
  min-height: 100vh;
  background: #fff url(../img/2section.jpg) center center/cover; }
  .Menu__title {
    font-size: 3.125em;
    font-family: 'RobotoBold';
    margin-top: 3%; }
  .Menu__MineMenu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .Menu__MineMenu__items {
      background-color: rgba(248, 248, 247, 0.8);
      -webkit-box-shadow: 8px 8px 10px -5px rgba(0, 0, 0, 0.75);
              box-shadow: 8px 8px 10px -5px rgba(0, 0, 0, 0.75);
      text-transform: uppercase;
      border-top: 5px solid transparent;
      -webkit-border-radius: 8px;
              border-radius: 8px;
      position: relative;
      margin: 7% 9% 7% 0%;
      padding: 10% 0%;
      -webkit-transition: all 0.45s linear;
      -o-transition: all 0.45s linear;
      transition: all 0.45s linear; }
      .Menu__MineMenu__items:hover {
        border-top: 5px solid #df405a; }
      .Menu__MineMenu__items__title {
        font-size: 1.25em;
        font-family: 'RobotoBold';
        text-align: center; }
      .Menu__MineMenu__items__ingredients {
        font-size: 1.125em;
        font-family: 'RobotoRegular';
        padding-left: 20%; }
      .Menu__MineMenu__items__cast {
        background: #e3e0e1;
        text-align: center;
        color: #df405a;
        padding: 10px 0px;
        font-size: 1.125em;
        font-family: 'RobotoBold'; }
      .Menu__MineMenu__items__buttons {
        width: 180px;
        margin: 4% auto;
        border: 1px solid #df405a; }
  .Menu__days ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'RobotoLight';
    cursor: pointer;
    font-size: 1.125em; }
    .Menu__days ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-right: 1%;
      border: 1px solid rgba(0, 0, 0, 0.5);
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 5px 10px;
      -webkit-transition: all 0.45s linear;
      -o-transition: all 0.45s linear;
      transition: all 0.45s linear; }
      .Menu__days ul li:hover {
        background-color: #df405a;
        color: #fff; }
      .Menu__days ul li:active {
        background-color: #1cb87f;
        color: #fff; }

.next_slide, .prev_slide {
  font-size: 70px;
  position: absolute;
  color: #df405a; }

.next_slide {
  top: 30%;
  left: 99%;
  -webkit-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
  z-index: 2;
  padding: 10px; }
  .next_slide:hover {
    -webkit-animation: ARROW 1.5s linear infinite;
            animation: ARROW 1.5s linear infinite; }

.prev_slide {
  top: 30%;
  right: 100%;
  -webkit-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
  z-index: 2;
  padding: 10px; }
  .prev_slide:hover {
    -webkit-animation: ARROW 1.5s linear infinite;
            animation: ARROW 1.5s linear infinite; }

.Reviews {
  width: 100%;
  min-height: 70vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff; }
  .Reviews__title {
    margin-top: 3%;
    color: #df405a;
    font-size: 3.125em; }

.Reviews__carusel__items__img {
  width: 20%;
  height: auto;
  border: 3px solid #df405a;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0px auto;
  margin-top: 6%; }

.Reviews__carusel__items__text {
  margin: 0px auto;
  width: 45%;
  font-size: 1.0625em;
  font-family: 'RobotoRegular';
  margin-top: 2%;
  text-align: center; }
  .Reviews__carusel__items__text span {
    font-size: 35px;
    color: #df405a; }

.Callback {
  width: 100%;
  min-height: 100vh;
  background: #000 url(../img/4section.jpg) center/cover; }
  .Callback__title {
    margin-top: 2%;
    font-size: 3.125em;
    font-family: 'RobotoBold'; }
  .Callback__text {
    font-size: 1.125em;
    line-height: 1.2;
    text-transform: uppercase; }
    .Callback__text strong {
      color: #df405a; }
  .Callback__items {
    background-color: rgba(245, 241, 240, 0.85);
    padding: 2% 2%;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin-bottom: 3%;
    cursor: pointer; }
    .Callback__items .fa {
      font-size: 1.5625em;
      padding: 10px;
      color: #df405a; }
      .Callback__items .fa:hover {
        color: #1cb87f; }
  .Callback__wrapper {
    margin-top: 15%; }
  .Callback__forma {
    background-color: rgba(245, 241, 240, 0.85);
    -webkit-box-shadow: 8px 8px 10px -5px rgba(0, 0, 0, 0.75);
            box-shadow: 8px 8px 10px -5px rgba(0, 0, 0, 0.75);
    padding: 30px;
    font-size: 0.9375em;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    border-right: 5px solid #df405a; }
    .Callback__forma table {
      margin: 0 auto; }
      .Callback__forma table tr td {
        padding: 10px; }
    .Callback__forma input {
      -webkit-border-radius: 3px;
              border-radius: 3px; }
    .Callback__forma input[type='submit'] {
      padding: 10px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      border: 2px solid #df405a;
      margin-left: 14%; }

.footer {
  width: 100%;
  min-height: 10vh;
  background-color: rgba(0, 0, 0, 0.7); }
  .footer__menu {
    text-transform: uppercase;
    margin-top: 7%; }
    .footer__menu ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      list-style-type: none; }
      .footer__menu ul a {
        color: #fff;
        font-size: 1em;
        -webkit-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
        .footer__menu ul a:hover {
          color: #df405a; }
        .footer__menu ul a:active {
          color: #1cb87f; }
  .footer__webstudio {
    font-size: 1.1875em;
    font-family: 'RobotoBold';
    color: #df405a;
    margin-top: 13%; }

/* TODO: HEADER TOP LINE */
.default {
  width: 100%; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 13%;
  background-color: #fff;
  z-index: 2; }

/* TODO: HIDE */
.HIDE {
  display: none;
  opacity: 0;
  position: absolute; }

.ACTIVE {
  background-color: #df405a;
  color: #fff; }

/* TODO: ANIMATION */
@-webkit-keyframes ARROW {
  0% {
    font-size: 4.375em; }
  10% {
    font-size: 4.0625em; }
  20% {
    font-size: 3.75em; }
  30% {
    font-size: 3.4375em; }
  40% {
    font-size: 3.125em; }
  50% {
    font-size: 3.4375em; }
  60% {
    font-size: 3.75em; }
  70% {
    font-size: 4.0625em; }
  80% {
    font-size: 4.375em; } }
@keyframes ARROW {
  0% {
    font-size: 4.375em; }
  10% {
    font-size: 4.0625em; }
  20% {
    font-size: 3.75em; }
  30% {
    font-size: 3.4375em; }
  40% {
    font-size: 3.125em; }
  50% {
    font-size: 3.4375em; }
  60% {
    font-size: 3.75em; }
  70% {
    font-size: 4.0625em; }
  80% {
    font-size: 4.375em; } }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .header__content_center__ads {
    font-size: 40px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header__top_line__number {
    font-size: 0.9375em; }
  .header__top_line__button_number {
    font-size: 0.9375em;
    padding: 5px; }
  .header__content_center__title {
    font-size: 1.875em;
    font-size: center; }
  .header__content_center__ads {
    font-size: 1.875em; }
  .About__title {
    font-size: 1.875em; }
  .About__inform {
    margin-top: 10%;
    font-size: 0.75em; }
  .Menu__MineMenu {
    margin: 0 5%; }
  .Menu__days {
    font-size: 0.8125em; }
  .Reviews__carusel__items__img {
    width: 50%; }
  .Reviews__carusel__items__text {
    width: 100%;
    font-size: 0.8125em; }
  .next_slide_reviews {
    top: 10%;
    left: 85%; }
  .prev_slide_reviews {
    top: 10%;
    right: 85%; }
  .Callback__title {
    font-size: 2.8125em;
    text-align: center; }
  .Callback__forma {
    padding: 0px;
    margin-bottom: 9%; }
    .Callback__forma td {
      font-size: 0.8125em; }
    .Callback__forma input {
      width: 90%; }
    .Callback__forma input[type='submit'] {
      width: 80%;
      font-size: 0.6875em;
      font-family: 'RobotoBold';
      margin: 0% 0% 6% 8%; }
  .fixed {
    height: 10%; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
