@font-face {
  font-family: Source Serif;
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

.students {
  padding: 3% 10% 5%;
  background-color: #ddddd5;
  background-image: url(../img/rectangle-students.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  -webkit-box-shadow: inset 0px 10px 40px -15px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 10px 40px -15px rgba(0, 0, 0, 0.75);
  position: relative; }
  .students h2 {
    font-family: "RobotoBold"; }
  .students__name {
    font-family: "RobotoBold"; }
  .students__comments {
    font-family: "RobotoRegular"; }
  .students__wrapper {
    width: 100%; }
  .students__photo {
    border: 3px solid #d80b4a;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .students .fa {
    font-size: 60px; }
  .students .fa:hover {
    color: #d80b4a;
    -webkit-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
    cursor: pointer; }
  .students .next-slide {
    position: absolute; }
  .students .prev-slide {
    position: absolute; }

@media (min-width: 319px) {
  .students {
    background-position: center lefts;
    min-height: 400px; }
    .students h2 {
      margin: 2% 0% 5%;
      text-align: center;
      font-size: 30px; }
    .students__photo {
      margin: 0 auto;
      width: 60% !important;
      height: auto; }
    .students__name {
      font-size: 20px;
      text-align: center; }
    .students__comments {
      text-align: center; }
    .students__line {
      margin-top: 5% !important;
      width: 60% !important;
      margin: 0 auto; }
  .next-slide {
    right: 20%;
    bottom: 2%; }
  .prev-slide {
    left: 20%;
    bottom: 2%; } }

@media (min-width: 600px) {
  .students__photo {
    width: 30% !important; }
  .students__line {
    width: 20% !important; } }

@media (min-width: 768px) {
  .students {
    background-position: left bottom;
    min-height: 650px; }
    .students h2 {
      margin: 5% 0%;
      font-size: 35px; }
    .students__wrapper {
      width: 100%; }
    .students__photo {
      width: 30% !important; }
    .students__comments {
      width: 60%;
      margin: 0 auto;
      text-align: center; }
    .students__line {
      width: 35% !important; }
  .next-slide {
    right: 20%;
    bottom: 5%; }
  .prev-slide {
    left: 20%;
    bottom: 5%; } }

@media (min-width: 1200px) {
  .students {
    padding: 1% 10% 3%;
    position: relative;
    min-height: 550px; }
    .students__wrapper {
      width: 950px !important;
      margin: 0 auto; }
    .students__items {
      width: 400px;
      margin: 0; }
    .students h2 {
      margin: 2% 0%; }
    .students__photo {
      width: 200px !important; }
    .students__comments {
      width: 40%; }
    .students .owl-nav {
      position: absolute;
      top: 40%; }
    .students__line {
      width: 60% !important; }
  .next-slide {
    right: 22%;
    top: 45%; }
  .prev-slide {
    left: 20%;
    top: 45%; } }
