@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal; }

.owl-nav {
  top: 86%; }

.owl-nav .fa {
  font-size: 60px;
  position: absolute; }

.owl-nav {
  position: absolute;
  width: 100%;
  top: 40%; }

.owl-nav .fa {
  font-size: 60px;
  position: absolute;
  left: 27%; }

.owl-nav .fa-angle-right {
  right: 24% !important; }

.owl-nav .fa-angle-right:hover {
  color: #d80b4a;
  -webkit-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out; }

.owl-nav .fa-angle-left:hover {
  color: #d80b4a;
  -webkit-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out; }

.owl-next {
  right: 24%;
  position: absolute; }

.owl-prev {
  left: 24%; }

@media (min-width: 319px) {
  .owl-nav {
    top: 100%;
    left: -3%; } }

@media (min-width: 1200px) {
  .owl-nav {
    top: 40%; } }

.instagram {
  padding: 40px 0px;
  min-height: 500px;
  background-color: #97d7f2;
  background-image: url(../img/elipse-section-two.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed; }
  .instagram h2 {
    margin: 0;
    padding: 0;
    font-family: "RobotoBold"; }
  .instagram__item {
    width: 100%;
    background-color: #323030;
    -webkit-border-radius: 10px 5px 10px 5px;
            border-radius: 10px 5px 10px 5px;
    border-top: 3px solid #d80b4a; }
  .instagram__desc {
    font-family: "RobotoLight";
    color: #fff;
    width: 100%;
    position: relative;
    border-bottom: 2px solid #fff;
    cursor: pointer; }
  .instagram__desc:before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 21px;
    left: 5%;
    right: 0%;
    bottom: 20%;
    background-image: url(../img/social-color-sprite.png);
    background-repeat: no-repeat;
    background-position: -160px 0; }

@media (min-width: 319px) {
  .instagram {
    padding: 20px 0px; }
    .instagram__wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative; }
    .instagram__title {
      font-size: 30px;
      text-align: center; }
    .instagram__item {
      margin: 0 auto;
      width: 300px;
      margin-top: 20px;
      padding: 10px 0px; }
    .instagram__desc {
      padding-left: 60px;
      font-size: 17px; }
    .instagram__photo {
      width: 100%;
      height: auto; }
      .instagram__photo img {
        width: 100%;
        height: auto; } }

@media (min-width: 768px) {
  .instagram {
    padding: 20px; }
    .instagram__wrapper {
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }

@media (min-width: 1200px) {
  .instagram__title {
    font-size: 45px; }
  .instagram h2 {
    margin-bottom: 50px; }
  .instagram__item {
    width: 300px;
    height: 340px; }
  .instagram__photo {
    padding-top: 30px;
    width: 100%;
    height: 250px; } }
