@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal; }

body {
  position: relative; }

.start {
  opacity: 0;
  display: none; }

.preloader {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #323030;
  -webkit-animation: 5s bg linear infinite;
          animation: 5s bg linear infinite; }
  .preloader__wrapper {
    width: 300px;
    margin: 0 auto;
    height: 400px;
    border: 1px solid transparent;
    position: relative; }
  .preloader__circle {
    position: absolute;
    z-index: 999999;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 10px solid #fff;
    border-top: 15px solid #97d7f2;
    -webkit-animation: .8s circle linear infinite;
            animation: .8s circle linear infinite; }
  .preloader__title {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 70px;
    text-align: center;
    color: #fff;
    margin-top: 23%; }

@media (min-width: 320px) {
  .preloader__circle {
    left: 25%;
    top: 10%; }
  .preloader__title {
    margin-top: 75%; } }

@media (min-width: 768px) {
  .preloader__wrapper {
    margin-top: 15%; } }

@-webkit-keyframes circle {
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes circle {
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes bg {
  0% {
    background-color: #000; }
  50% {
    background-color: #323030; }
  100% {
    background-color: #000; } }

@keyframes bg {
  0% {
    background-color: #000; }
  50% {
    background-color: #323030; }
  100% {
    background-color: #000; } }
