@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal; }

.block-match {
  background-color: rgba(50, 48, 48, 0.85);
  -webkit-border-radius: 10px 0px 0px 10px;
          border-radius: 10px 0px 0px 10px;
  min-width: 300px;
  height: auto;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff; }
  .block-match__inform {
    border-top: 2px solid #97d7f2;
    text-align: left;
    font-size: 15px;
    page-break-after: 0px 5px;
    font-family: "RobotoLight"; }
  .block-match__desc {
    font-family: "RobotoBold";
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
    text-transform: uppercase;
    border-bottom: 2px solid #97d7f2; }
  .block-match__item {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 0px;
    font-family: "RobotoRegular";
    text-align: center;
    cursor: pointer;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .block-match__item:hover {
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    color: #f65385;
    background-color: #666262;
    -webkit-border-radius: 0px 0px 0px 10px;
            border-radius: 0px 0px 0px 10px; }
  .block-match__item:hover .block-match__inform {
    color: #fff;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

@media (min-width: 319px) {
  .block-match {
    margin-bottom: 30px !important;
    display: block;
    width: 300px;
    margin: 0 auto; } }

@media (min-width: 768px) {
  .block-match {
    width: 350px;
    height: auto; }
    .block-match--wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      font-family: space-between;
      min-height: 590px;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .block-match__item {
      padding: 10px 5px; } }

@media (min-width: 1200px) {
  .block-match {
    width: 420px; }
    .block-match__item {
      font-size: 15px; } }

.acardeon {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 0;
  display: none; }
