@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#RobotoRegular") format("svg"); }

@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff2") format("woff2"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#RobotoLight") format("svg"); }

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#RobotoBold") format("svg"); }

body {
  font-size: 16px;
  font-family: "RobotoRegular", sans-serif;
  position: relative;
  opacity: 1;
  line-height: 1.75;
  min-width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

header {
  width: 100%;
  min-height: 100vh;
  background: #000 url(../img/header.jpg) center center/cover;
  position: relative; }
  header:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); }

.top_line {
  width: 100%;
  height: 100%;
  position: relative; }
  .top_line__logo {
    font-size: 1.5625em;
    color: #fff;
    font-family: 'RobotoBold';
    padding: 2%; }
  .top_line__menu {
    width: 100%; }
    .top_line__menu ul {
      list-style-type: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .top_line__menu ul li {
        color: #fff;
        text-transform: uppercase;
        font-family: 'RobotoLight';
        font-size: 0.9375em; }
        .top_line__menu ul li a {
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          color: #fff; }
          .top_line__menu ul li a:hover {
            color: #ff1743; }

.center_content {
  margin-top: 17%;
  text-align: center; }
  .center_content__title {
    font-size: 4.0625em;
    font-family: 'RobotoBold';
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 3%; }
    .center_content__title span {
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      padding: 2%; }
  .center_content__inform {
    font-family: 'RobotoLight';
    color: #fff;
    font-size: 2.5em;
    text-transform: uppercase; }

.bottom_content__button_about {
  border: 2px solid #ff1743; }

.bottom_content__button_work {
  background-color: #ff1743;
  border: 2px solid #ff1743; }

.buttons__next {
  background-color: #fff;
  padding: 10px;
  font-size: 1.875em;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  left: 47%;
  top: 20vh;
  margin: 0% auto;
  position: absolute;
  -webkit-animation: BUTTON 1s linear infinite;
          animation: BUTTON 1s linear infinite;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  /* TODO: SECTION ABOUT ME */ }

.AboutMe {
  width: 100%;
  height: 60vh; }
  .AboutMe__title {
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: 'RobotoLight';
    padding: 3%;
    text-align: center; }
  .AboutMe__education p.title {
    font-size: 1.5625em;
    font-family: 'RobotoBold';
    text-transform: uppercase; }
  .AboutMe__education p.information {
    font-size: 1.25em;
    font-family: 'RobotoRegular'; }
    .AboutMe__education p.information .fa {
      font-size: 0.75em;
      padding: 0% 2%;
      color: #b00021; }

/* TODO: BUTTONS */
.button {
  padding: 4% 5%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: 'RobotoRegular';
  margin-top: 20%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .button:hover {
    background-color: #fb9c06;
    color: #000;
    border: 2px solid #e38d04; }

/* TODO: ANIMATION */
@-webkit-keyframes LINES {
  0% {
    padding: 1%; }
  50% {
    padding: 1.5%; }
  100% {
    padding: 2%;
    border-bottom: 2px solid #b00021;
    border-top: 2px solid #b00021; } }
@keyframes LINES {
  0% {
    padding: 1%; }
  50% {
    padding: 1.5%; }
  100% {
    padding: 2%;
    border-bottom: 2px solid #b00021;
    border-top: 2px solid #b00021; } }

@-webkit-keyframes BUTTON {
  0% {
    top: 21vh;
    color: #000; }
  100% {
    top: 26vh;
    color: #b00021; } }

@keyframes BUTTON {
  0% {
    top: 21vh;
    color: #000; }
  100% {
    top: 26vh;
    color: #b00021; } }
