@font-face {
  font-family: Source Serif;
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

.level {
  width: 100%;
  height: auto; }
  .level a {
    outline: none; }
  .level h2 {
    font-family: "RobotoBold";
    text-align: center; }
  .level__item {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 7px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    margin-bottom: 20px; }
  .level__item:hover {
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75); }
  .level__course {
    font-family: "RobotoBold"; }
  .level__desc {
    font-family: "RobotoRegular"; }
  .level__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .level__link {
    color: #d80b4a;
    text-decoration: underline; }

@media (min-width: 319px) {
  .level {
    height: 950px; }
    .level h2 {
      margin: 20px 0px; }
    .level__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

@media (min-width: 768px) {
  .level__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .level__item {
    width: 350px; } }

@media (min-width: 1200px) {
  .level {
    height: 340px; }
    .level__wrapper {
      width: 1100px;
      margin: 0 auto; } }
