.carusel {
  width: 100%;
  height: auto;
  position: relative; }
  .carusel__item {
    width: 100%;
    text-align: center; }
  .carusel__Name {
    font-size: 20px; }
  .carusel img {
    width: 15%;
    height: auto; }
  .carusel__information {
    margin: 0 auto;
    width: 35%; }
  .carusel__image {
    width: 14% !important;
    margin: 0 auto;
    height: auto; }
  .carusel .owl-nav {
    position: absolute;
    width: 100%;
    top: 44%; }
  .carusel .owl-nav .fa {
    font-size: 60px;
    position: absolute; }
  .carusel .owl-nav .fa-angle-right {
    right: 0%; }
  .carusel .owl-nav .fa-angle-right:hover {
    color: #d80b4a;
    -webkit-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out; }
  .carusel .owl-nav .fa-angle-left:hover {
    color: #d80b4a;
    -webkit-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out; }
  .carusel .owl-next {
    right: 0;
    position: absolute; }

.teachers {
  width: 100%;
  height: auto;
  background-color: #ddddd5;
  background-image: url(../img/light.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 1% 10% 3% 10%;
  -webkit-background-size: cover;
          background-size: cover; }
  .teachers h2 {
    padding: 0;
    font-size: 30px; }
