@font-face {
  font-family: Source Serif;
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

.our-video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .our-video__youtube {
    border: 3px solid #d80b4a; }
  .our-video h3 {
    font-family: 'RobotoLight'; }
  .our-video .title__wrapper {
    width: 100%; }

@media (min-width: 319px) {
  .our-video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .our-video__wrapper {
      margin-top: 50px !important;
      width: 300px;
      margin: 0 auto; }
    .our-video h3 {
      margin: 0;
      padding: 0;
      font-size: 30px;
      text-align: center; }
    .our-video__youtube {
      width: 100%;
      height: auto; } }

@media (min-width: 768px) {
  .our-video {
    width: 750px;
    height: 800px;
    margin: 0 auto;
    margin-bottom: 100px; }
    .our-video h3 {
      font-size: 25px; }
    .our-video__wrapper {
      width: 750px; }
    .our-video__youtube {
      display: block;
      margin: 0 auto;
      width: 600px;
      height: 400px; } }

@media (min-width: 1200px) {
  .our-video {
    width: 1100px;
    height: 500px;
    -webkit-box-align: intitial;
    -webkit-align-items: intitial;
        -ms-flex-align: intitial;
            align-items: intitial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .our-video__wrapper {
      width: 900px;
      margin: 0 !important; }
    .our-video h3 {
      text-align: center; }
    .our-video__youtube {
      width: 100%;
      height: 450px; } }

@media (min-width: 1400px) {
  .our-video {
    width: 1350px;
    height: 500px;
    -webkit-box-align: intitial;
    -webkit-align-items: intitial;
        -ms-flex-align: intitial;
            align-items: intitial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .our-video__wrapper {
      width: 900px;
      margin: 0 !important; }
    .our-video h3 {
      text-align: center; }
    .our-video__youtube {
      width: 100%;
      height: 450px; } }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

.block-match {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 10px 0px 0px 10px;
          border-radius: 10px 0px 0px 10px;
  min-width: 300px;
  height: auto;
  border-top: 4px solid #666;
  border-right: 4px solid #fff;
  -webkit-transition: bacground 1s ease,-webkit-box-shadow 1s ease;
  transition: bacground 1s ease,-webkit-box-shadow 1s ease;
  -o-transition: box-shadow 1s ease,bacground 1s ease;
  transition: box-shadow 1s ease,bacground 1s ease;
  transition: box-shadow 1s ease,bacground 1s ease,-webkit-box-shadow 1s ease; }
  .block-match__language {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 100%; }
  .block-match__main img {
    display: block;
    margin: 0px 230px; }
  .block-match:hover {
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
    border-top: 4px solid #d80b4a;
    position: relative; }
    .block-match:hover .block-match__main {
      color: #a80926; }
    .block-match:hover .block-match__main img {
      -webkit-transition: -webkit-animation .5s ease;
      transition: -webkit-animation .5s ease;
      -o-transition: animation .5s ease;
      transition: animation .5s ease;
      transition: animation .5s ease, -webkit-animation .5s ease;
      -webkit-animation: anim-retina .5s ease;
              animation: anim-retina .5s ease; }
  .block-match__test {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .block-match__test svg {
      display: block;
      margin: 13px auto; }
  .block-match__desc {
    cursor: pointer;
    font-family: "RobotoBold";
    color: #000;
    text-align: center;
    font-size: 22px;
    padding: 10px 5px;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    position: relative; }
  .block-match__inform {
    display: none;
    border-top: 2px solid #97d7f2;
    text-transform: lowercase;
    text-align: left;
    font-size: 15px;
    page-break-after: 0px 5px;
    font-family: "RobotoRegular";
    background-color: #323030;
    z-index: 1;
    padding: 20px;
    -webkit-border-radius: 0 10px 10px 0;
            border-radius: 0 10px 10px 0; }
  .block-match__item:hover .block-match__inform {
    display: block;
    opacity: 1; }
  .block-match__item {
    display: none;
    position: relative;
    color: #000;
    border-bottom: 1px solid #fff;
    padding: 10px 0px;
    font-family: "RobotoRegular";
    text-align: center;
    cursor: pointer;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: lowercase; }
  .block-match__item:hover {
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    font-size: 25px;
    color: #fff;
    background-color: #595555;
    text-transform: uppercase; }
  .block-match__item:hover .block-match__inform {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
  .block-match__inform {
    color: #000;
    background-color: #e3e3e3;
    -webkit-border-radius: 0px 0px 0px 10px;
            border-radius: 0px 0px 0px 10px; }

@media (min-width: 319px) {
  .block-match {
    margin-bottom: 30px !important;
    display: block;
    width: 300px;
    margin: 0 auto; }
    .block-match:hover .block-match__main img {
      -webkit-transition: -webkit-animation .5s ease;
      transition: -webkit-animation .5s ease;
      -o-transition: animation .5s ease;
      transition: animation .5s ease;
      transition: animation .5s ease, -webkit-animation .5s ease;
      -webkit-animation: anim-mob .5s ease;
              animation: anim-mob .5s ease; }
    .block-match__main img {
      margin: 0 78px; }
    .block-match__item {
      font-size: 16px; }
    .block-match__inform {
      margin: 0 auto;
      font-size: 17px; }
    .block-match__item:hover {
      font-size: 17px; } }

@media (min-width: 768px) {
  .block-match {
    width: 350px; }
    .block-match:hover .block-match__main img {
      -webkit-transition: -webkit-animation .5s ease;
      transition: -webkit-animation .5s ease;
      -o-transition: animation .5s ease;
      transition: animation .5s ease;
      transition: animation .5s ease, -webkit-animation .5s ease;
      -webkit-animation: anim-tab .5s ease;
              animation: anim-tab .5s ease; }
    .block-match__main {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .block-match__main svg {
        display: block;
        margin: 0 auto;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 8px auto; }
      .block-match__main img {
        margin: 0 108px; }
    .block-match--wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      font-family: space-between;
      min-height: 200px;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .block-match__item {
      padding: 10px 5px; }
    .block-match__inform {
      position: absolute;
      width: 450px;
      height: auto;
      top: -50%;
      left: 100%; } }

@media (min-width: 1200px) {
  .block-match {
    width: 500px;
    border-bottom: 20px; }
    .block-match:hover .block-match__main img {
      -webkit-animation: anim-desk .5s ease;
              animation: anim-desk .5s ease; }
    .block-match__main img {
      margin: 0px 180px; }
    .block-match--wrapper {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      margin: 50px auto;
      width: 1100px; }
    .block-match__item {
      font-size: 16px; }
    .block-match__inform {
      padding: 10px 20px; } }

@media (min-width: 1500px) {
  .block-match {
    width: 600px; }
    .block-match:hover .block-match__main img {
      -webkit-transition: -webkit-animation .5s ease;
      transition: -webkit-animation .5s ease;
      -o-transition: animation .5s ease;
      transition: animation .5s ease;
      transition: animation .5s ease, -webkit-animation .5s ease;
      -webkit-animation: anim-retina .5s ease;
              animation: anim-retina .5s ease; }
    .block-match__main img {
      margin: 0px 230px; }
    .block-match--wrapper {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      margin: 50px auto;
      width: 1500px; }
    .block-match__item {
      font-size: 18px; }
    .block-match__inform {
      padding: 10px 20px; } }

.acardeon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

@-webkit-keyframes anim-retina {
  25% {
    margin: 0 225px; }
  50% {
    margin: 0 230px; }
  75% {
    margin: 0 235px; }
  100% {
    margin: 0 230px; } }

@keyframes anim-retina {
  25% {
    margin: 0 225px; }
  50% {
    margin: 0 230px; }
  75% {
    margin: 0 235px; }
  100% {
    margin: 0 230px; } }

@-webkit-keyframes anim-mob {
  25% {
    margin: 0 83px; }
  50% {
    margin: 0 78px; }
  75% {
    margin: 0 73px; }
  100% {
    margin: 0 78px; } }

@keyframes anim-mob {
  25% {
    margin: 0 83px; }
  50% {
    margin: 0 78px; }
  75% {
    margin: 0 73px; }
  100% {
    margin: 0 78px; } }

@-webkit-keyframes anim-tab {
  25% {
    margin: 0 115px; }
  50% {
    margin: 0 108px; }
  75% {
    margin: 0 103px; }
  100% {
    margin: 0 108px; } }

@keyframes anim-tab {
  25% {
    margin: 0 115px; }
  50% {
    margin: 0 108px; }
  75% {
    margin: 0 103px; }
  100% {
    margin: 0 108px; } }

@-webkit-keyframes anim-desk {
  25% {
    margin: 0 185px; }
  50% {
    margin: 0 180px; }
  75% {
    margin: 0 175px; }
  100% {
    margin: 0 180px; } }

@keyframes anim-desk {
  25% {
    margin: 0 185px; }
  50% {
    margin: 0 180px; }
  75% {
    margin: 0 175px; }
  100% {
    margin: 0 180px; } }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

.partners__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

@media (min-width: 319px) {
  .partners__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .partners__title {
    margin: 0;
    padding: 0;
    font-size: 30px; }
  .partners__item {
    margin-top: 20px; }
    .partners__item h3 {
      font-size: 20px; }
  .partners__image {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    display: block; } }

@media (min-width: 768px) {
  .partners__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }

@media (min-width: 1200px) {
  .partners h3 {
    text-align: center; }
  .partners__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 600px;
    height: 400px; }
  .partners__item {
    width: 220px; } }

.specialties {
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  padding: 1% 0% 5%;
  width: 100%;
  height: auto;
  background-color: #ddddd5;
  background-repeat: no-repeat; }
  .specialties .wrepper {
    width: 100%;
    height: auto; }
  .specialties h2 {
    margin-bottom: 5%;
    font-family: "RobotoBold"; }
  .specialties__course {
    background-color: rgba(255, 255, 255, 0);
    -webkit-border-radius: 10px;
            border-radius: 10px; }

@media (min-width: 319px) {
  .specialties h2 {
    text-align: center;
    font-size: 30px; } }

@media (min-width: 1200px) {
  .specialties:hover .specialties__wrapper {
    -webkit-transition: all .9s ease-in-out;
    -o-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out; }
  .specialties:hover {
    -webkit-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
    background-position: 0% 5vh; }
  .specialties h2 {
    font-size: 45px; }
  .specialties__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; } }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

.turn {
  width: 100%;
  height: auto;
  padding: 1% 10% 3% 10%;
  background-color: #97d7f2;
  position: relative;
  background-image: url(../img/elipse-section-two.png);
  background-repeat: no-repeat;
  background-position: top center; }
  .turn__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .turn__is-title {
    font-size: 19px;
    font-family: "RobotoRegular"; }
  .turn__is-item {
    font-family: "RobotoLight"; }
  .turn__sks-item {
    font-family: "RobotoLight"; }
  .turn__sks-title {
    font-size: 19px;
    font-family: "RobotoRegular"; }
  .turn__is-title--green .fa {
    color: green;
    font-size: 30px; }
  .turn__span {
    color: #d80b4a; }
  .turn h2 {
    margin: 0;
    text-align: right;
    font-size: 35px;
    margin-bottom: 2%;
    font-family: "RobotoBold"; }

/* TEST */
.wave {
  overflow: hidden;
  position: relative;
  width: 1900px;
  height: 50px;
  position: absolute;
  top: -2.7%;
  left: -1%; }

.ellipse {
  position: absolute;
  background: -webkit-radial-gradient(ellipse, #97d7f2, transparent 6px, white 7px, white 10px, transparent 6px);
  background: -o-radial-gradient(ellipse, #97d7f2, transparent 6px, white 7px, white 10px, transparent 6px);
  background: radial-gradient(ellipse, #97d7f2, transparent 6px, white 7px, white 10px, transparent 6px);
  -webkit-background-size: 20px 20px;
          background-size: 20px 20px;
  width: 1900px;
  height: 10px; }

@media (min-width: 319px) {
  .wave {
    display: none; }
  .turn {
    background-attachment: fixed; }
    .turn__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .turn__is-title {
      text-align: center; }
    .turn__sks-title {
      text-align: center; }
    .turn h2 {
      font-size: 30px;
      margin-top: 5%;
      text-align: center;
      line-height: 1.4; }
    .turn__line {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      height: 50px; } }

@media (min-width: 768px) {
  .turn .wave {
    display: none; }
  .turn__is-item {
    text-align: center; }
  .turn__sks-item {
    text-align: center; }
  .turn__line {
    height: 100px; } }

@media (min-width: 1200px) {
  .turn__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .turn__is-title {
    text-align: left; }
  .turn h2 {
    margin-top: 2%;
    text-align: right; }
  .turn__is-list {
    border-bottom: 0px;
    padding-bottom: 0px; }
  .turn__is-item {
    text-align: left; }
  .turn__sks-item {
    text-align: left; }
  .turn__line {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    height: auto; } }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

.level__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

.level__item:hover {
  -webkit-animation: 2s bgHover linear infinite;
          animation: 2s bgHover linear infinite; }

@-webkit-keyframes bgHover {
  0% {
    background-color: white; }
  50% {
    background-color: rgba(255, 255, 255, 0.1); }
  100% {
    background-color: white; } }

@keyframes bgHover {
  0% {
    background-color: white; }
  50% {
    background-color: rgba(255, 255, 255, 0.1); }
  100% {
    background-color: white; } }

.level {
  width: 100%;
  min-height: 300px; }
  .level a {
    outline: none; }
  .level h2 {
    font-family: "RobotoBold"; }
  .level__item {
    width: 250px;
    height: 250px;
    margin: 0 auto; }
  .level__image {
    width: 150px;
    height: 150px; }
  .level p {
    margin: 0;
    padding: 0;
    font-family: "RobotoBold"; }
  .level__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

@media (min-width: 320px) {
  .level h2 {
    font-size: 30px;
    text-align: center; }
  .level__wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    margin: 0 auto; }
  .level__image {
    margin: 0 auto;
    display: block; }
  .level__item {
    margin-top: 30px; }
  .level p {
    text-align: center;
    font-size: 20px; } }

@media (min-width: 768px) {
  .level {
    height: 350px;
    padding: 20px 0px; }
    .level h2 {
      font-size: 35px; }
    .level__wrapper {
      width: 700px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }

@media (min-width: 768px) {
  .level {
    height: 400px; }
    .level h2 {
      font-size: 45px; }
    .level__wrapper {
      width: 1200px; } }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

.students {
  padding: 3% 10% 5%;
  background-color: #ddddd5;
  background-image: url(../img/rectangle-students.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  -webkit-box-shadow: inset 0px 10px 40px -15px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 10px 40px -15px rgba(0, 0, 0, 0.75);
  position: relative; }
  .students h2 {
    font-family: "RobotoBold"; }
  .students__name {
    font-family: "RobotoBold"; }
  .students__comments {
    font-family: "RobotoRegular"; }
  .students__wrapper {
    width: 100%; }
  .students__photo {
    border: 3px solid #d80b4a;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .students .fa {
    font-size: 60px; }
  .students .fa:hover {
    color: #d80b4a;
    -webkit-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
    cursor: pointer; }
  .students .next-slide {
    position: absolute; }
  .students .prev-slide {
    position: absolute; }

@media (min-width: 319px) {
  .students {
    background-position: center lefts;
    min-height: 400px; }
    .students h2 {
      margin: 2% 0% 5%;
      text-align: center;
      font-size: 30px; }
    .students__photo {
      margin: 0 auto;
      width: 60% !important;
      height: auto; }
    .students__name {
      font-size: 20px;
      text-align: center; }
    .students__comments {
      text-align: center; }
    .students__line {
      margin-top: 5% !important;
      width: 60% !important;
      margin: 0 auto; }
  .next-slide {
    right: 20%;
    bottom: 2%; }
  .prev-slide {
    left: 20%;
    bottom: 2%; } }

@media (min-width: 600px) {
  .students__photo {
    width: 30% !important; }
  .students__line {
    width: 20% !important; } }

@media (min-width: 768px) {
  .students {
    background-position: left bottom;
    min-height: 650px; }
    .students h2 {
      margin: 5% 0%;
      text-align: left;
      font-size: 35px; }
    .students__wrapper {
      width: 100%; }
    .students__photo {
      width: 30% !important; }
    .students__comments {
      width: 60%;
      margin: 0 auto;
      text-align: center; }
    .students__line {
      width: 35% !important; }
  .next-slide {
    right: 20%;
    bottom: 5%; }
  .prev-slide {
    left: 20%;
    bottom: 5%; } }

@media (min-width: 1200px) {
  .students {
    padding: 1% 10% 3%;
    position: relative;
    min-height: 550px; }
    .students__wrapper {
      width: 950px !important;
      margin: 0 auto; }
    .students__items {
      width: 400px;
      margin: 0; }
    .students h2 {
      margin: 2% 0%; }
    .students__photo {
      width: 200px !important; }
    .students__comments {
      width: 40%; }
    .students .owl-nav {
      position: absolute;
      top: 40%; }
    .students__line {
      width: 60% !important; }
  .next-slide {
    right: 22%;
    top: 45%; }
  .prev-slide {
    left: 20%;
    top: 45%; } }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

.owl-nav {
  top: 86%; }

.owl-nav .fa {
  font-size: 60px;
  position: absolute; }

.owl-nav {
  position: absolute;
  width: 100%;
  top: 40%; }

.owl-nav .fa {
  font-size: 60px;
  position: absolute;
  left: 26%; }

.owl-nav .fa-angle-right {
  right: 24% !important; }

.owl-nav .fa-angle-right:hover {
  color: #d80b4a;
  -webkit-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out; }

.owl-nav .fa-angle-left:hover {
  color: #d80b4a;
  -webkit-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out; }

.owl-next {
  right: 24%;
  position: absolute; }

.owl-prev {
  left: 24%; }

@media (min-width: 319px) {
  .owl-nav {
    top: 100%;
    left: -3%; } }

@media (min-width: 1200px) {
  .owl-nav {
    top: 40%; }
  .owl-next {
    right: 0%; }
  .owl-nav .fa {
    left: 4%; } }

.instagram {
  padding: 40px 0px;
  min-height: 500px;
  background-color: #97d7f2;
  background-image: url(../img/elipse-section-two.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed; }
  .instagram h2 {
    margin: 0;
    padding: 0;
    font-family: "RobotoBold"; }
  .instagram__item {
    width: 100%;
    background-color: #323030;
    -webkit-border-radius: 10px 5px 10px 5px;
            border-radius: 10px 5px 10px 5px;
    border-top: 3px solid #d80b4a; }
  .instagram__desc {
    font-family: "RobotoLight";
    color: #fff;
    width: 100%;
    position: relative;
    border-bottom: 2px solid #fff;
    cursor: pointer; }
  .instagram__desc:before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 21px;
    left: 5%;
    right: 0%;
    bottom: 20%;
    background-image: url(../img/social-color-sprite.png);
    background-repeat: no-repeat;
    background-position: -160px 0; }

@media (min-width: 319px) {
  .instagram {
    padding: 20px 0px; }
    .instagram__wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative; }
    .instagram__title {
      font-size: 30px;
      text-align: center; }
    .instagram__item {
      margin: 0 auto;
      width: 300px;
      margin-top: 20px;
      padding: 10px 0px; }
    .instagram__desc {
      padding-left: 60px;
      font-size: 17px; }
    .instagram__photo {
      width: 100%;
      height: auto; }
      .instagram__photo img {
        width: 100%;
        height: auto; } }

@media (min-width: 768px) {
  .instagram {
    padding: 20px; }
    .instagram__wrapper {
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }

@media (min-width: 1200px) {
  .instagram__wrapper {
    width: 1200px !important;
    margin: 0 auto; }
  .instagram__title {
    font-size: 45px; }
  .instagram h2 {
    margin-bottom: 50px; }
  .instagram__item {
    width: 300px;
    height: 340px; }
  .instagram__photo {
    padding-top: 30px;
    width: 100%;
    height: 250px; } }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?iefix") format("eot"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?iefix") format("eot"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Source Serif;
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?iefix") format("eot"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

.contacts {
  padding: 3% 10% 5%;
  background-color: #262626; }
  .contacts h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "RobotoBold"; }
  .contacts__map {
    border: 3px solid #d80b4a; }
  .contacts__information {
    color: #fff;
    font-family: "RobotoRegular"; }

@media (min-width: 319px) {
  .contacts h2 {
    margin-bottom: 5%;
    font-size: 30px;
    text-align: center; }
  .contacts__map {
    width: 100%;
    height: 100%; }
  .contacts__google {
    width: 100%;
    height: 25	0px; }
  .contacts__information {
    margin-top: 5%;
    text-align: center; } }

@media (min-width: 768px) {
  .contacts__information {
    width: 50%;
    margin: 5% auto 0%; } }

@media (min-width: 1200px) {
  .contacts h2 {
    text-align: right;
    font-size: 35px; }
  .contacts__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .contacts__information {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    text-align: left;
    font-size: 20px;
    width: 30%; }
  .contacts__map {
    width: 50%; }
  .contacts__google {
    margin: 0;
    padding: 0; } }

.page-main {
  padding: 0;
  background-color: #ddddd5;
  margin: 0;
  width: 100%;
  height: auto;
  font-family: "RobotoLight"; }
