.mobail-version {
  margin-top: 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10%; }
  .mobail-version__course {
    margin-top: 5px;
    border: 2px solid #97d7f2;
    background-color: #323030;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-transition: color 0.3s ease-in-out, background-color 0.4s ease-in-out;
    -o-transition: color 0.3s ease-in-out, background-color 0.4s ease-in-out;
    transition: color 0.3s ease-in-out, background-color 0.4s ease-in-out; }
    .mobail-version__course:hover {
      background-color: #444141;
      border: 2px solid #157ca8;
      color: #e6740c; }

@media (min-width: 768px) {
  .mobail-version {
    margin-top: 1%; } }

@media (min-width: 1200px) {
  .mobail-version {
    display: none; } }

.our-video__youtube {
  border: 3px solid #d80b4a; }

@media (min-width: 319px) {
  .our-video h2 {
    font-size: 20px;
    text-align: center; }
  .our-video__youtube {
    width: 100%;
    height: auto; } }

@media (min-width: 768px) {
  .our-video h2 {
    font-size: 25px; }
  .our-video__youtube {
    height: 400px; } }

@media (min-width: 1200px) {
  .our-video {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .our-video__youtube {
      width: 100%;
      height: 450px; } }

@media (min-width: 1700px) {
  .our-video {
    width: 100%; }
    .our-video h2 {
      font-size: 30px; }
    .our-video__youtube {
      width: 70%;
      height: 450px; } }

.specialties {
  margin: 0;
  padding: 1% 10% 5%;
  width: 100%;
  height: auto;
  background-color: #ddddd5;
  background-image: url(../img/section-one.png); }
  .specialties .wrepper {
    width: 100%;
    height: auto; }
  .specialties h2 {
    margin: 0;
    padding: 0; }

@media (min-width: 319px) {
  .specialties svg {
    display: none; }
  .specialties h2 {
    text-align: center;
    font-size: 30px; } }

@media (min-width: 1200px) {
  .specialties h2 {
    font-size: 55px;
    text-align: left; }
  .specialties svg {
    display: block;
    width: 80%; }
  .specialties__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }

.our-video__youtube {
  border: 3px solid #d80b4a; }

@media (min-width: 319px) {
  .our-video h2 {
    font-size: 20px;
    text-align: center; }
  .our-video__youtube {
    width: 100%;
    height: auto; } }

@media (min-width: 768px) {
  .our-video h2 {
    font-size: 25px; }
  .our-video__youtube {
    height: 400px; } }

@media (min-width: 1200px) {
  .our-video {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .our-video__youtube {
      width: 100%;
      height: 450px; } }

@media (min-width: 1700px) {
  .our-video {
    width: 100%; }
    .our-video h2 {
      font-size: 30px; }
    .our-video__youtube {
      width: 70%;
      height: 450px; } }

.turn {
  width: 100%;
  height: auto;
  padding: 1% 10% 3% 10%;
  background-color: #97d7f2;
  position: relative;
  background-image: url(../img/elipse-section-two.png);
  background-repeat: no-repeat;
  background-position: top center; }
  .turn__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .turn__is-title {
    font-size: 19px; }
  .turn__sks-title {
    font-size: 19px; }
  .turn__is-title--green .fa {
    color: green;
    font-size: 30px; }
  .turn__span {
    color: #d80b4a; }
  .turn h2 {
    margin: 0;
    text-align: right;
    font-size: 55px;
    margin-bottom: 2%; }

/* TEST */
.wave {
  overflow: hidden;
  position: relative;
  width: 1900px;
  height: 50px;
  position: absolute;
  top: -2.7%;
  left: -1%; }

.ellipse {
  position: absolute;
  background: -webkit-radial-gradient(ellipse, #97d7f2, transparent 6px, white 7px, white 10px, transparent 6px);
  background: -o-radial-gradient(ellipse, #97d7f2, transparent 6px, white 7px, white 10px, transparent 6px);
  background: radial-gradient(ellipse, #97d7f2, transparent 6px, white 7px, white 10px, transparent 6px);
  -webkit-background-size: 20px 20px;
          background-size: 20px 20px;
  width: 1900px;
  height: 10px; }

@media (min-width: 319px) {
  .wave {
    top: -1.5%; }
  .turn {
    background-attachment: fixed; }
    .turn__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .turn__is-title {
      text-align: center; }
    .turn__sks-title {
      text-align: center; }
    .turn h2 {
      font-size: 30px;
      margin-top: 5%;
      text-align: center;
      line-height: 1.4; }
    .turn__is-list {
      padding-bottom: 40px;
      border-bottom: 2px solid #d80b4a; } }

@media (min-width: 768px) {
  .turn__is-item {
    text-align: center; }
  .turn__sks-item {
    text-align: center; } }

@media (min-width: 1200px) {
  .turn__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .turn__is-title {
    text-align: left; }
  .turn h2 {
    margin-top: 2%;
    text-align: right; }
  .turn__is-list {
    padding-right: 200px;
    border-right: 1px solid red;
    border-bottom: 0px;
    padding-bottom: 0px; }
  .turn__is-item {
    text-align: left; }
  .turn__sks-item {
    text-align: left; } }

.carusel {
  width: 100%;
  height: auto;
  position: relative; }
  .carusel__item {
    width: 100%;
    text-align: center; }
  .carusel__Name {
    font-size: 20px; }
  .carusel img {
    width: 15%;
    height: auto; }
  .carusel__image {
    width: 14% !important;
    margin: 0 auto;
    height: auto; }

@media (min-width: 319px) {
  .carusel img {
    width: 50%; }
  .carusel__image {
    width: 60% !important; }
  .carusel__information {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 25%; }
  .carusel .owl-nav {
    top: 86%; }
  .carusel .owl-nav .fa {
    font-size: 60px;
    position: absolute; }
  .carusel .owl-nav {
    position: absolute;
    width: 100%;
    top: 87%; }
  .carusel .owl-nav .fa {
    font-size: 60px;
    position: absolute; }
  .carusel .owl-nav .fa-angle-right {
    right: 0%; }
  .carusel .owl-nav .fa-angle-right:hover {
    color: #d80b4a;
    -webkit-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out; }
  .carusel .owl-nav .fa-angle-left:hover {
    color: #d80b4a;
    -webkit-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out; }
  .carusel .owl-next {
    right: 0;
    position: absolute; } }

@media (min-width: 768px) {
  .carusel img {
    width: 25%;
    height: auto; }
  .carusel__image {
    margin-top: 5%;
    width: 30% !important; } }

@media (min-width: 1200px) {
  .carusel img {
    width: 15% !important;
    margin-top: 0; }
  .carusel img {
    width: 15%;
    height: auto; }
  .carusel__information {
    margin: 0 auto;
    width: 35%; }
  .carusel .owl-nav {
    position: absolute;
    width: 100%;
    top: 25%; }
  .carusel .owl-nav .fa {
    font-size: 60px;
    position: absolute; }
  .carusel .owl-nav .fa-angle-right {
    right: 0%; }
  .carusel .owl-nav .fa-angle-right:hover {
    color: #d80b4a;
    -webkit-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out; }
  .carusel .owl-nav .fa-angle-left:hover {
    color: #d80b4a;
    -webkit-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out; }
  .carusel .owl-next {
    right: 0;
    position: absolute; } }

.teachers {
  width: 100%;
  height: auto;
  background-color: #ddddd5;
  background-image: url(../img/light.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  padding: 1% 10% 3% 10%;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-box-shadow: 0px 12px 16px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 12px 16px -4px rgba(0, 0, 0, 0.75); }
  .teachers h2 {
    padding: 0;
    font-size: 30px; }

@media (min-width: 319px) {
  .teachers h2 {
    text-align: center; } }

@media (min-width: 768px) {
  .teachers h2 {
    text-align: left; } }

@media (min-width: 1200px) {
  .teachers {
    height: 60vh;
    background-position: top top;
    -webkit-background-size: contain;
            background-size: contain; }
    .teachers h2 {
      font-size: 55px; } }

.partners {
  width: 100%;
  height: 80vh;
  background-color: #97d7f2; }
  .partners h2 {
    padding: 0;
    margin: 0;
    font-size: 30px; }

@media (min-width: 319px) {
  .partners {
    padding: 2% 10% 5% 10%;
    width: 100%;
    height: 100%; }
    .partners__wrapper {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .partners h2 {
      text-align: center; }
  .agilie {
    margin-top: 50px; }
    .agilie__image {
      width: 10%; }
    .agilie__title {
      padding: 0;
      margin: 0;
      font-size: 22px; } }

@media (min-width: 768px) {
  .partners h2 {
    text-align: right;
    padding-bottom: 20px; }
  .partners__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }

@media (min-width: 1200px) {
  .partners {
    height: 55vh; } }

.hero-gradient {
  position: relative;
  width: 100%;
  padding: 0px 12px 100px;
  background: #97d7f2;
  height: 140px; }

#wave {
  position: absolute;
  height: 600px;
  top: 0;
  left: 0;
  width: 100%; }

svg path {
  fill: #deded6; }

@media screen and (min-width: 1024px) {
  svg {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
        transform: scale(1.2); } }

.students {
  padding: 3% 10% 5%;
  background-color: #ddddd5;
  background-image: url(../img/rectangle-students.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  -webkit-box-shadow: inset 0px 10px 40px -15px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 10px 40px -15px rgba(0, 0, 0, 0.75); }
  .students h2 {
    margin: 0;
    padding: 0; }
  .students__wrapper {
    width: 100%; }
  .students .fa {
    font-size: 60px; }
  .students .fa:hover {
    color: #d80b4a;
    -webkit-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out; }
  .students .owl-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }

@media (min-width: 319px) {
  .students {
    background-position: center lefts; }
    .students h2 {
      margin: 2% 0% 5%;
      text-align: center;
      font-size: 30px; }
    .students__photo {
      margin: 0 auto;
      width: 60% !important;
      height: auto; }
    .students__name {
      font-size: 20px;
      text-align: center; }
    .students__comments {
      text-align: center; } }

@media (min-width: 768px) {
  .students {
    background-position: left bottom; }
    .students h2 {
      margin: 5% 0%;
      text-align: left;
      font-size: 55px; }
    .students__wrapper {
      width: 100%; }
    .students__photo {
      width: 30% !important; }
    .students__comments {
      width: 60%;
      margin: 0 auto;
      text-align: center; } }

@media (min-width: 1200px) {
  .students {
    padding: 1% 10% 3%;
    position: relative; }
    .students h2 {
      margin: 2% 0%; }
    .students__photo {
      width: 17% !important; }
    .students__comments {
      width: 40%; }
    .students .owl-nav {
      position: absolute;
      top: 40%; } }

.contacts {
  padding: 3% 10% 5%;
  background-color: #262626; }
  .contacts h2 {
    margin: 0;
    padding: 0;
    color: #fff; }
  .contacts__map {
    border: 3px solid #d80b4a; }
  .contacts__information {
    color: #fff; }

@media (min-width: 319px) {
  .contacts h2 {
    margin-bottom: 5%;
    font-size: 30px;
    text-align: center; }
  .contacts__map {
    width: 100%;
    height: 100%; }
  .contacts__google {
    width: 100%;
    height: 25	0px; }
  .contacts__information {
    margin-top: 5%;
    text-align: center; } }

@media (min-width: 768px) {
  .contacts__information {
    width: 50%;
    margin: 5% auto 0%; } }

@media (min-width: 1200px) {
  .contacts h2 {
    text-align: right;
    font-size: 55px; }
  .contacts__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .contacts__information {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 20px;
    width: 30%; }
  .contacts__map {
    width: 50%; }
  .contacts__google {
    margin: 0;
    padding: 0; } }

.page-main {
  padding: 0;
  background-color: red;
  margin: 0;
  width: 100%;
  height: auto; }
