/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset"
@import "bourbon/bourbon"


body
	font-size: 16px
	font-family: 'RobotoRegular', sans-serif
	line-height: 20px
.header
	margin: 0 0 222px 0
	.menu
		width: 100%
		height: 142px
	background-image: url(../img/header.png)
	background-position: top center
	background-size: cover
	background-attachment: fixed
	width: 100%
	height: 85vh
	.logo
		font-size: 30px
		padding: 26px 3px
		font-family: 'RobotoBold' 
		color: #026988
		cursor: pointer
	nav
		font-family: 'RobotoCondensetRegular'

		ul
			display: flex
			justify-content: space-around
			li
				padding: 29px 0 0 0
				text-transform: uppercase
				a
					color: #111d2c
				&:hover
					list-style-image: url(../img/point.png)
.why_me
	font-family: "RobotoLight"
	font-size: 50px
	color: #029688
	width: 100%
	height: 101px
.ads
	font-size: 25px
	line-height: 37.5px
.next
	font-size: 25px
	font-family: 'RobotoLight'
	color: #026988
	height: 82px
	width: 100%
	.buttons
		width: 179px
		height: 32px
		border-radius: 5px
		background-color: #2687a4
		cursor: pointer
		padding: 0px 50px
		color: #fff
		font-size:  20px
		padding:  0px 45px
		text-transform: uppercase
		border-right: 16px solid #ff9000
		@include transition(all 0.25s linear)
		line-height: 34px
		font-family: 'RobotoBold'
		&:hover
			background-color: #ff9000
			@include transition(all 0.25s linear)
.nout__item
	margin: 66px 0 0 0
	background-image: url(../img/nout.png)
	background-repeat: no-repeat
	width: 100%
	height: 100vh
	position: absolute

section
	background-image: url(../img/second_section.png)
	background-repeat: no-repeat
	background-position: top center
	//background-attachment: fixed
	width: 100%
	height: 100vh
	.about_me
		width: 100%
		height: 725px
		background-color: #b2eff8
		margin-top: 123px
		position: relative
		.me
			font-size: 50px
			font-family: 'RobotoLight'
			padding: 50px 0
			width: 100%
			height: 100%
			color: #026988
		.text_about_me
			font-family: 'RobotoRegular'
			font-size: 18px
			line-height: 27px
			padding: 50px 100px
.photo
	background-image: url(../img/myphoto.png)
	background-position: top center
	background-size: 321px 321px
	background-repeat: no-repeat
	width: 321px
	height: 321px
	border: 7px solid #b2eff8
	border-radius: 25em
	margin: 160px 0px 66px 170px
.iformation_next
	font-size: 25px
	font-family: 'RobotoLight'
	color: #000
.rectangle
	width: 100%
	height: 100%
	background-color: #b2eff8
	z-index: -1