/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "bourbon/bourbon"
@import "compass/reset"


/* Кнопки */
$Color_buttons_border: #ff9000
$Color_buttons_border_buff: #2687a4
$Color_buttons: #2687a4
$Color_buttons_active: #19d697
/* Текст */
$Color_headers: #026988
$Color_text : #000
/* Вставки */
$Color_items: #b2eff8

body
	font-size: 16px
	font-family: 'RobotoRegular', sans-serif
	line-height: 24px
	margin: 0
	padding: 0
/* First page */
header
	width: 100%
	height: 85vh
	background: #689ac8 url(../img/header.png) center center / cover
	background-attachment: fixed
	nav
		font-family: 'RobotoCondensetRegular'

		ul
			display: flex
			justify-content: space-around
			li
				padding: 29px 0 0 0
				text-transform: uppercase
				list-style-type: none
				a
					color: #111d2c
				&:hover
					padding-bottom: 10px
					border-bottom: 2px solid $Color_buttons_border
.logo
	font-size: 30px
	padding: 26px 3px
	font-family: 'RobotoBold'
	color: $Color_headers
	cursor: pointer
.menu
	width: 100%
	height: 142px
.why_me
	font-family: "RobotoLight"
	font-size: 50px
	color: $Color_headers
	width: 100%
	height: 101px
.ads
	font-size: 25px
	line-height: 37.5px
	font-family: 'RobotoRegular'
	color:  $Color_text
.next
	font-size: 25px
	font-family: 'RobotoLight'
	color: $Color_headers
	height: 82px
	width: 100%
.buttons_about_me
	margin-top: 30px
.buttons
	width: 179px
	height: 32px
	border-radius: 5px
	cursor: pointer
	background-color: $Color_buttons
	cursor: pointer
	padding: 0px 50px
	color: #fff
	font-size:  20px
	padding:  0px 45px
	text-transform: uppercase
	border-right: 16px solid $Color_buttons_border
	+transition(all 0.25s linear)
	line-height: 34px
	font-family: 'RobotoBold'
	&:hover
		background-color: #ff9000
		border-right: 16px solid $Color_buttons_border_buff
	&:active
		background-color: $Color_buttons_active
.nout__item
	width: 100%
	height: auto
	margin-top: 70px
	position: absolute

/* Second section */
#first_container
	width: 100%
	height: 100vh
	background: #bddedd url(../img/second_section.png) top center / cover
	min-height: 1080px
	margin-top: 220px
	position: relative
.block_information
	background: $Color_items
	width: 100%
	height: 100%
	margin-top: 125px
.who_i_am
	font-size: 50px
	font-family: 'RobotoLight'
	padding: 36px 0 107px 0
	color: $Color_headers
.information_about_me
	padding: 30px 100px 170px 100px
	font-size: 18px
	font-family: 'RobotoRegular'
	line-height: 27px
	color: $Color_text
.my_img
	margin: 210px 0px 0px 0px
	img
		width: 45%
		height: auto
		border: 5px solid $Color_items
		border-radius: 50%
.information_addit
	font-size: 25px
	font-family: 'RobotoLight'
	padding-top: 50px
	color: $Color_text
	margin-bottom: 50px
	.colorfull
		background: $Color_items


/* Third section */

#second_container
	width: 100%
	height: 100vh
	position: relative
.second__header__img
	img
		width: 100%
		height: auto
	position: absolute
	margin-top: 34px
	top: 0%
	right: 0%
.second__title
	text-transform: uppercase
	font-size: 50px
	font-family: 'RobotoLight'
	color: $Color_headers
	padding: 75px 0 150px 0
.second__header_bg_container
	img
		width: 100%
		height: auto
	position: absolute
	top: 25%
	left: 0%
.second__iknow
	font-size: 50px
	font-family: 'RobotoLight'
	color: $Color_headers
.second__whatiknow
	padding-top: 31px
	font-size: 25px
	font-family: 'RobotoRegular'
	line-height: 37px
	text-transform: uppercase
	cursor: pointer
	ul > li
		list-style: square outside
		&:hover
			color: $Color_buttons_border
.second_callme
	font-size: 20px
	font-family: 'RobotoRegular'
	.imp
		font-size: 30px
		font-family: 'RobotoLight'
		color: $Color_headers
		padding-bottom: 15px
.second__button
	margin-top: 15px
	padding: 0px 4px
	font-size: 18px
.bg_carousel
	overflow: hidden
	width: 100%
	height: auto
	img
		width: 100%
		height: auto
	position: absolute
	left: 0%
.container_owl
	position: relative
	.slide_prev,.slide_next
		position: absolute
		top: 50%
		padding: 15px
		z-index: 1
	.fa-slider
		color: $Color_buttons_border
		font-size: 100px
	.slide_prev
		left: 10%
	.slide_next
		right: 10%
.second__owl-carousel
	padding-top: 75px
.content
	text-align: center
	z-index: -1
	img
		text-align: center
		width: 50%
		height: auto
		display: inline-block

#third_section
	width: 100%
	height: 100vh
	background: url(../img/bg_third.png) no-repeat center center / cover
	position: relative
.third__block_information
	margin-top: 230px
	font-size: 20px
	line-height: 35px
	font-family: 'RobotoRegular'
	color: $Color_text
	width: 100%
	ol li:hover
		color: $Color_buttons_border
.form
	width: 100%
	height: 100%
	background: $Color_items
	border-radius: 10px
	padding: 100px 0px
	text-align: center
	position: relative
	.img_photo
		position: absolute
		top: -13%
		left: 32%
		border: 5px solid $Color_items
		border-radius: 50%
		width: 120px
		height: 120px
		background-color: #666
		.fa-user
			position: absolute
			font-size: 50px
			color: #fff
			top: 25%
			left: 32%
	input
		margin: 20px 0px
		width: 240px
		height: 29px
		border: 1px solid #000
		border-radius: 5px
		+transition(all .5s ease)
		&:focus
			width: 260px
			height: 35px
			border: 2px solid $Color_buttons_active
.callme
	margin-left: 62px
	padding: 0px 30px