.page-footer {
  margin: 0;
  padding: 3% 10% 1%;
  width: 100%;
  background-color: #ddddd5; }
  .page-footer ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .page-footer h3 {
    margin: 0;
    padding: 0; }
  .page-footer__item {
    cursor: pointer; }
  .page-footer__item:hover {
    -webkit-transition: bacground .3s ease-in-out;
    -o-transition: bacground .3s ease-in-out;
    transition: bacground .3s ease-in-out;
    background-color: #c6c6b9;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .page-footer__item a:hover {
    -webkit-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
    color: #d80b4a; }

@media (min-width: 319px) {
  .page-footer__wrapepr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .page-footer__list {
    text-align: center; }
  .page-footer__item {
    padding: 2%;
    text-transform: uppercase; }
  .page-footer__who-make {
    text-align: center;
    text-transform: uppercase; }
  .page-footer h3 {
    margin-top: 5%; } }

@media (min-width: 768px) {
  .page-footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .page-footer__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .page-footer__item {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; } }

@media (min-width: 1200px) {
  .page-footer {
    margin: 0;
    padding: 1% 10%; }
    .page-footer__wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
    .page-footer__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 50%;
      font-size: 14px; }
    .page-footer__item {
      padding: 2px;
      text-align: left;
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start; }
    .page-footer h3 {
      text-align: right;
      width: 50%;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; } }
